<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
</head>

<body>
<div class="container mt-4">

    <div class="card">
        <div class="card-header">
            <h4>Save Customer</h4>
        </div>
        <div class="card-body">
            <form th:action="${add} ? @{/customer} : @{/customer/{customerId}/edit(customerId=${customer.id})}" th:object="${customer}" th:method="${add} ? 'post' : 'put'" class="col-sm-5" >
                <div class="form-group">
                    <div class="form-outline">
                        <input type="text" th:field="*{firstName}" th:value="${customer.firstName}" id ="validationFirstName" class="form-control" minlength="10" maxlength="50" required/>
                        <label for="validationFirstName" class="form-label">First name</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" th:field="*{lastName}" th:value="${customer.lastName}" id ="validationSLastName" class="form-control" minlength="10" maxlength="100" required/>
                        <label for="validationSLastName" class="form-label">Last name</label>
                    </div>
                    <div class="form-outline">
                        <input type="text" th:field="*{company}" th:value="${customer.company}" id ="validationCompany" class="form-control" required/>
                        <label for="validationCompany" class="form-label">Company</label>
                    </div>

                </div>
                <div class="card-footer">
                    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
                    <a th:href="@{/listCustomer}"  class="btn btn-link">Regresar</a>
                </div>
            </form>
        </div>


    </div>

</div>
</body>
</html>